<div *ngIf="course">
    <h1>{{course.title}}</h1>
    <h2>Lessons</h2>
    <div class="list-group">
        <a *ngFor="let lesson of lessonList"
           routerLink=""
           class="list-group-item list-group-item-action">
            <span>{{lesson.title}}</span>
            <a routerLink="/lesson/edit/{{lesson.$key}}">
                <span class="pull-right glyphicon glyphicon-pencil"></span>
            </a>
        </a>
        <a class="list-group-item list-group-item-action"
           routerLink="/lesson/add/{{course.$key}}">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>